#akmform > input[type="text"], #akmform > textarea {
    background: #fcfcfc;
    border: 1px solid #b0b0b0;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 #eee;
    color: #7c7c7c;
    margin: 2px 0 7px;
    padding: 4px 6px;
    width: 100%;
}

#akmform > input[type="submit"] {
    margin: 7px 0;
    padding: 3px 19px;
}
.akm-tk {
    color: #118202;
}